.height{
    height: 450px ;
    background-color: #111;
    padding-top: 40px;
 
    
}
ul{
    list-style: none !important;
}
.ul{
   font-size: 20px;
}
.ul span{
    padding-left: 12px;
}

.tropy{
    height: 250px;
}
.max-250{
    max-width: 250px;
    margin-top: 46px;
}
.card{
    border: unset;
}
.card img{
   height: 250px;
   background: #182453;
}
.card-body{
    background-color:#0D0D0D;
    color: #fff;
}

.card button{
    width: 100%;
}

.profile-des h5{
    font-size: 15px;
    margin-left: 8px;
}
.profile-des span{
    font-size: 12px;
 
}
.card-title{
    font-style: 18px !important;
    text-transform: uppercase;
}
.h4, h4 {
    font-size: 1.1rem;
}

.form-control {
    color: #fff;
    background-color: #000;
    border: 1px solid #f1f1f1;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #f1f1f1;
    border-top: 1px solid #fff;
}
